<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Blog Post</title>
</head>

<header>
    <a href="#" role="button">Home</a>
    <a href="#" role="button">Logout</a>
    <a href="#" role="button">Dashboard</a>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Blog Post</h1>
            </div>
        </div>
    </div>
</header>

<body>
    {{{body}}}
</body>
</html>